**/.git
**/.github
**/.vs
**/.vscode
**/bin
**/obj
**/*.user
**/*.sln # Главное, чтобы восстановление было конкретизировано "RUN dotnet restore CRUD.WebApi/CRUD.WebApi.csproj"

# Хоть копирование в докер файлах у меня точечное (Не COPY . ., а только то, что нужно), всё равно нужно указать мусор, т.к, иначе он скопируется в docker daemon, а потом проигнорируется, а можем сейчас проигнорировать
# Файлы
.editorconfig
.gitattributes
.gitignore
docker-compose.yml
LICENSE.txt
README.md
Как выложил.txt

# Папки
Benchmarking/
CRUD.Infrastructure.S3.Tests/
CRUD.Test.Shared/
CRUD.Tests/
docs/
images/
Microservice.EmailSender.Tests/